@import '../../sass/index.scss';
.edit_btn {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  text-align: center;
}
.todo {
  padding: 0 1rem;
  border: 1px solid $color-primary;
  border-radius: 1rem;
  .todo_text {
    color: #000;
  }
  .fas {
    color: $color-primary;
  }
  &:hover {
    background-color: $color-primary;
    transition: 0.3s ease-in;
    border-radius: 1rem;
    .todo_text {
      color: $color-white;
    }
    .fas {
      color: white;
    }
  }
}
.dropdown__content:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: 1px solid $color-border;
}
.dropdown__content:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.dropdown__content {
  padding: 0.5rem 1rem;
}
.dropdown__content:hover {
  cursor: pointer;
  background-color: $color-border;
}
.todo_dropdown {
  position: absolute;
  right: 10px;
  top: -5px;
  border: 1px solid $color-border;
  border-radius: 12px;
  background-color: $color-white;
  z-index: 1;
}
.fas {
  font-size: 32px;
}
