@import '../../sass/index.scss';
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  height: inherit;
}
.home_screen {
  width: 80%;
  background-color: #fff;
  margin: auto;
  margin-top: 2rem;
  padding: 1.25rem 3rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  flex-grow: 1;
}
.todo_list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  margin-bottom: 2rem;
}
