@import '../../sass/index.scss';

.card_header_img_container {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: block;
  img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
  }
}
.user_comment {
  border-top: 1px solid $background-color-gray;
  .comment_input {
    max-height: 80px;
    height: 36px;
    border: none;
    flex-grow: 1;
    resize: none;
  }
  :focus {
    outline: none;
  }
}
